.main{
    width: 900px;
}

.list{

}

.list item{

}

.list item text{
    display: hidden;
}

.messenger{

}

.smi button{
    width: 100%;
}

.break{
    margin: 15px;
    height: 50px;
    /* background-color: red; */
}

.divider{
    width: 100%;
    height: 100%;
}
