.block-avatar{
    display: grid;
    justify-content: center;
}

.avatar{
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

.name{
    margin: 0 auto;
    text-align: center;
}

.pHeader {
    text-align: center;
    padding: 0;
    margin: 0;
}